@import "tailwindcss";


:root {
  /* CI */
  --primary-brown: #A37651;
  --primary-green: #8B906F;
  --primary-eggwhite: #F7F4EB;

  /* Typefaces */
  --display-en: "Figtree", system-ui, sans-serif;
  --body-en: "Figtree", system-ui, sans-serif;
  --display-grotesk:"Space Grotesk", "Figtree", system-ui, sans-serif;

  --display-th: "IBM Plex Sans Thai Looped", sans-serif;
  --body-th: "IBM Plex Sans Thai Looped", sans-serif;
}

@layer base {
  display,
  .bold {
    font-family: var(--display-en);
    font-weight: 600;
  }

  .reg {
    font-family: var(--display-en);
    font-weight: 400;
  }

  body,
  .bold {
    font-family: var(--body-th);
    font-weight: 600;
  }
  .reg {
    font-family: var(--display-th);
    font-weight: 400;
  }
}
